@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
  blockquote {
    @apply px-4;
    @apply py-2;
    @apply my-2;
    @apply border-l-2;
    @apply text-gray-700;
    @apply bg-gray-50;
  }
  pre {
    @apply bg-gray-800;
    @apply text-gray-50;
    @apply py-2;
    @apply px-4;
    @apply my-2;
  }
  li {
    @apply mb-2;
  }
  ol {
    @apply list-decimal;
    @apply ml-8;
  }
  ul {
    @apply list-disc;
    @apply ml-8;
  }
  p{
    @apply leading-relaxed
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #03070F;
}
